<!DOCTYPE HTML>
<html>
<head>
<meta charset='utf-8'/>
<title>Sat OSM</title>
</head>
<body>
Added a node.<br/>
<input type='button' value='編集画面に戻る' onClick='window.location.href="<%= EDIT_URL %>"'/>
<hr/>
Author: Satoru Takeuchi &lt; satoru.takeuchi@gmail.com &gt;
</html></body>
